body{
    color: white;
    background-color: #080808;
}

.who-we-are-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    padding: 100px 60px;
}

.wwa-left{
    width: 49%;
}

.about-head{
    font-size: 50px !important;
}

.about-detail{
    font-size: 18px;
    color: rgb(188, 184, 184);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.wwa-right{
    width: 49%;
}

.wwa-right img{
    width: 100%;
    border-radius: 12px;
}



/* Aesthetic Excellence section */
.aemr-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 60px;
}

.aemr-section h1{
    width: 40%;
}

.aemr-section p{
    width: 55%;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  background-color: #000000;
  position: relative;
  margin-bottom: 100px;
}

.marquee-wrapper::before,
.marquee-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.marquee-wrapper::before {
  left: 0;
  background: linear-gradient(to right, #0b0b0b, transparent);
}
.marquee-wrapper::after {
  right: 0;
  background: linear-gradient(to left, #0b0b0b, transparent);
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 12s linear infinite; 
}

/* .marquee-track.reverse {
  animation: scroll-right 12s linear infinite;
} */

.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px; 
  padding-right: 30px; 
}

.marquee-card {
  width: 30%;
  height: auto; 
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease;
}

.marquee-card:hover {
  transform: scale(1.03);
}

.marquee-card img {
  width: 90%;
  height: 70vh;
  display: block;
  object-fit: cover;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* responsive design */

@media (max-width: 1030px) {
    .who-we-are-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .wwa-left, .wwa-right{
        width: 100%;
    }

    .aemr-section{
        /* width: 100%; */
        flex-direction: column;
        gap: 10px;
    }

    .aemr-section h1, .aemr-section p{
        width: 100%;
    }
}

@media (max-width: 768px) {
  .marquee-card {
    width: 20%; 
    gap: 0;
    padding:0;
  }

  .marquee-card img{
    width: 100%;
    padding-right: 0;
  }

  .marquee-group {
    gap: 15px;
    padding-right: 15px;
  }

  .wwa-right img{
    width: 100%;
    height: 90vh;
  }
}

@media (max-width: 576px) {
  .who-we-are-section{
    padding: 100px 20px;
    gap: 30px;
  }

  .about-head{
    font-size: 32px !important;
  }

  .wwa-right{
    margin-top: 30px;
  }

  .aemr-section{
    padding: 50px 20px;
  }

  .marquee-card img{
    width: 100%;
    height: 30vh;
  }
}

