.services-main{
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.services-container {
    position: relative;
    width: 90%;
    margin-left: 60px;
    background-color: #000;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid rgb(52, 48, 48);
    margin-bottom: 50px;
}

.service-left,
.service-right {
    width: 50%;
}

.service-left {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #e8def6;
    padding: 30px;
}

.service-left img{
    width: 100%;
}

.service-right{
    padding: 30px;
    background-image: linear-gradient(#000, #615c085a);
}

.service-right {
    padding-left: 20px;
}

.service-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.service-description {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 40px;
}

.key-features h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.feature-list {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
}

.feature-list li {
    font-size: 15px;
    line-height: 1.6;
    color: #eee;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.bullet {
    color: white; 
    font-size: 20px;
    margin-right: 12px;
    margin-top: -2px; 
}

.cta-button {
    background-color: black;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: none;
}

.cta-button:hover {
    background-color: rgba(255,255,255,0.05);
    border-color: rgba(255,255,255,0.4);
}

.arrow {
    margin-left: 10px;
    width: 10%;
}

.wc-part{
    margin-top: 200px;
}

@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        padding: 40px;
    }

    .service-left, .service-right {
        width: 100%;
        padding-left: 0;
        margin-bottom: 40px;
    }
    
    .service-right {
        text-align: left;
    }
}