.servicesHero {
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.servicesHero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.1)
  );
}

.glow {
  position: absolute;
  left: -250px;
  top: -250px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 196, 0, 0.6),
    rgba(255, 170, 0, 0.2),
    transparent 60%
  );
  filter: blur(100px);
}



.problem-hero-heading {
  padding: 150px 50px 50px 50px !important;
}
h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}
.badge {
  display: inline-flex;
  align-items: center;
}

.problem-heading {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
  margin: auto;
  text-align: center;
}

.problem-heading .problemHeadWhite {
  background: linear-gradient(
    -15deg,
    #ffffff 0%,
    #f2f2f2 25%,
    #cfcfcf 55%,
    rgba(255, 255, 255, 0.45) 80%,
    rgba(255, 255, 255, 0.08) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.problem-heading .problemHeadFade {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.08)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.problem-span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.problem-description {
  text-align: center;
  width: 55%;
}

.table-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-wrapper {
  width: 70%;
  border: 1px solid #272727;
  border-radius: 10px;
  overflow: hidden;
  background: #070707;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table-row:not(:last-child) {
  border-bottom: 1px solid #242424;
}

.cell {
  padding: 15px;
  color: #b8b8b8;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.cell:first-child {
  border-right: 1px solid #242424;
}

.table-head .cell {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 24px;
}

.table-row:not(.table-head) {
  transition: 0.35s;
}

.table-row:not(.table-head):hover {
  background: #101010;
}

.table-row:not(.table-head):hover .cell {
  color: #fff;
}

.table-desc {
  border: none !important;
  margin-top: 35px;
}

@media (max-width: 991px) {
  .table-wrapper {
    width: 95%;
  }

  .cell {
    padding: 16px 14px;
    font-size: 14px;
    line-height: 1.45;
  }

  .table-head .cell {
    font-size: 16px;
    padding: 18px 14px;
  }

  .table-desc {
    margin-top: 25px;
  }
  .problem-description {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .table-section {
    padding: 20px 8px;
  }

  .table-wrapper {
    width: 100%;
    border-radius: 10px;
  }

  .table-row {
    grid-template-columns: 1fr 1fr;
  }

  .cell {
    padding: 12px 10px;
    font-size: 12px;
    line-height: 1.35;
  }

  .table-head .cell {
    font-size: 14px;
    padding: 14px 10px;
  }

  .cell:first-child {
    border-right: 1px solid #242424;
  }

  .table-desc {
    margin-top: 15px;
  }

  .problem-description {
    width: 100%;
    padding: 10px 20px;
  }
}

.bookAnchor {
  padding: 10px 24px;
  background: black;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
}
.bookBtn {
  outline: none;
  background: transparent;
  border: none;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}
.bookAnchor:hover {
  border: 1px solid #ffd500;
}

/* =================================
                work
====================================
*/
.odd-reverse {
  flex-direction: row-reverse !important;
}

.services-work-card-text {
  padding-left: 30px !important;
  padding-right: 0 !important;
}
.services-work {
  margin-top: 110px;
}
.work-ul {
  margin-left: 20px;
}
.work-ul li {
  padding: 5px 0 5px 10px;
}
.services-work-image {
  height: 80vh;
  background: #141414;
  padding: 25px 25px 0;
  display: flex;
  border: 1px solid #424141;
  align-items: flex-end;
  border-radius: 15px;
}

.wwa-right img {
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
  object-fit: cover;
  object-position: bottom center;
  display: block;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  border: 1px solid #424141;
  border-bottom: 0px !important;
}
/* ===========================
   timeline
=========================== */

.timeline-section {
  width: 100%;
  padding: 120px 0 0;
  position: relative;
}

/* ===========================
   TIMELINE
=========================== */

.timeline {
  width: 90%;
  margin: auto;
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: #242424;
  border-radius: 20px;
  overflow: hidden;
}

.timeline-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #ffd500;
  border-radius: 20px;
}

/* ===========================
          ITEM
=========================== */

.timeline-item {
  position: relative;
  display: flex;
  margin: 170px 0;
  width: 100%;
}

.timeline-item.left {
  justify-content: flex-start;
}

.timeline-item.right {
  justify-content: flex-end;
}

/* ===========================
             CARD
=========================== */

.timeline-card {
  width: 42%;
  background: #111;
  border: 1px solid #262626;
  border-radius: 24px;
  padding: 40px;
  position: relative;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(80px);
}

.timeline-card.show {
  opacity: 1;
  transform: translateY(0);
}

.timeline-card:hover {
  border-color: #ffd500;
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(255, 213, 0, 0.15);
}

.timeline-card h2 {
  margin: 20px 0;
  font-size: 34px;
}

.timeline-card p {
  color: #9e9e9e;
  line-height: 1.8;
  font-size: 16px;
}

/* ===========================
          NUMBER
=========================== */

.number {
  font-size: 72px;
  font-weight: 800;
  color: #2b2b2b;
  line-height: 1;
  transition: 0.4s;
}

.timeline-card:hover .number {
  color: #ffd500;
}
/* ===========================
         TIMELINE DOT
=========================== */

.timeline-dot {
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #3a3a3a;
  border: 5px solid #050505;
  z-index: 10;
  transition: 0.35s;
}

.timeline-dot.active {
  background: #ffd500;
  box-shadow:
    0 0 10px #ffd500,
    0 0 25px #ffd500,
    0 0 45px rgba(255, 213, 0, 0.5);
}

/* ===========================
   CONNECTOR LINE
=========================== */

.timeline-item.left .timeline-card::after {
  content: "";
  position: absolute;
  top: 48px;
  right: -70px;
  width: 70px;
  height: 2px;
  background: #3a3a3a;
}

.timeline-item.right .timeline-card::before {
  content: "";
  position: absolute;
  top: 48px;
  left: -70px;
  width: 70px;
  height: 2px;
  background: #3a3a3a;
}

/* ===========================
   HOVER
=========================== */

.timeline-card:hover h2 {
  color: #ffd500;
}

.timeline-card:hover::before,
.timeline-card:hover::after {
  background: #ffd500;
}

/* ===========================
   SCROLL ANIMATION
=========================== */

.timeline-card {
  transition:
    transform 0.7s ease,
    opacity 0.7s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* ===========================
   MOBILE
=========================== */

@media (max-width: 900px) {
  .timeline-heading h1,
  .problem-heading {
    font-size: 40px !important;
  }

  .timeline-heading p {
    font-size: 16px;
  }

  .timeline-line {
    left: 30px;
  }

  .timeline-progress {
    left: 0;
  }

  .timeline-dot {
    left: 30px;
  }

  .timeline-item {
    justify-content: flex-end !important;
    margin: 90px 0;
  }

  .timeline-card {
    width: calc(100% - 70px);
  }

  .timeline-item.left .timeline-card::after {
    left: -40px;
    width: 40px;
    right: auto;
  }

  .timeline-item.right .timeline-card::before {
    left: -40px;
    width: 40px;
  }

  .number {
    font-size: 54px;
  }

  .timeline-card h2 {
    font-size: 28px;
  }
}

/* ===========================
   SMALL MOBILE
=========================== */

@media (max-width: 600px) {
  .who-we-are-section {
    padding: 50px 20px !important;
  }

  .problem-hero-heading {
    padding: 20px !important;
  }
  .timeline-heading h1,
  .problem-heading {
    font-size: 35px !important;
  }
  .timeline-section {
    padding: 20px !important;
  }

  .timeline-heading {
    margin-bottom: 60px;
  }

  .timeline-heading h1 {
    font-size: 32px;
  }

  .timeline-card {
    padding: 25px;
  }

  .timeline-card h2 {
    font-size: 24px;
  }

  .timeline-card p {
    font-size: 15px;
  }

  .number {
    font-size: 42px;
  }
}

@media (max-width: 1018px) {
  .odd-reverse {
    flex-direction: column !important;
  }
  .services-work-image {
    margin-top: 50px;
    height: auto;
  }
}
@media (max-width: 750px) {
  .wwa-right img {
    height: 70vh;
  }
  .services-work-card-text {
    padding-left: 20px !important;
    padding-right: 0 !important;
  }
  .services-work {
    margin-top: 0;
  }
  .work-ul {
    margin-left: 0;
    padding-left: 20px;
  }
  .odd-reverse {
    padding: 20px !important;
  }
  .services-work-card-text {
    padding-left: 0 !important;
  }
  .wc-section {
    margin: 0 !important;
    padding-top: 0px !important;
  }
}
